
<label for="name">
	<f:translate key="tx_vmecevents_domain_model_participant.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_vmecevents_domain_model_participant.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_vmecevents_domain_model_participant.phone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="address">
	<f:translate key="tx_vmecevents_domain_model_participant.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="birthDate">
	<f:translate key="tx_vmecevents_domain_model_participant.birth_date" />
</label><br />
	<f:form.textfield property="birthDate" /><br />
<label for="numberOfPersions">
	<f:translate key="tx_vmecevents_domain_model_participant.number_of_persions" />
</label><br />
	<f:form.textfield property="numberOfPersions" /><br />
<label for="message">
	<f:translate key="tx_vmecevents_domain_model_participant.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />