<tr><td class="EzContactLeft" valign="top"><label for="name">
	<f:translate key="tx_vmecevents_domain_model_participant.name" /> *
</td><td>
	<f:form.textfield property="name" /></td></tr>
<tr><td class="EzContactLeft" valign="top"><label for="email">
	<f:translate key="tx_vmecevents_domain_model_participant.email" /> *
</td><td>
	<f:form.textfield property="email" /></td></tr>
<tr><td class="EzContactLeft" valign="top"><label for="phone">
	<f:translate key="tx_vmecevents_domain_model_participant.phone" /> *
</td><td>
	<f:form.textfield property="phone" /></td></tr>
<tr><td class="EzContactLeft" valign="top"><label for="address">
	<f:translate key="tx_vmecevents_domain_model_participant.address" />
</td><td>
	<f:form.textarea property="address" cols="40" rows="3" /></td></tr>
<tr><td class="EzContactLeft" valign="top"><label for="birthDate">
	<f:translate key="tx_vmecevents_domain_model_participant.birth_date" />
</td><td>
	<f:form.textfield property="birthDate" /></td></tr>
<tr><td class="EzContactLeft" valign="top"><label for="numberOfPersions">
	<f:translate key="tx_vmecevents_domain_model_participant.number_of_persions" />
</td><td>
	<f:form.textfield property="numberOfPersions" /></td></tr>
<tr><td class="EzContactLeft" valign="top"><label for="message">
	<f:translate key="tx_vmecevents_domain_model_participant.message" />
</td><td>
	<f:form.textarea property="message" cols="40" rows="4" /></td></tr>
