
<table class="tx-vmec-events" >
	<tr>
		<td>
			<f:translate key="tx_vmecevents_domain_model_participant.name" />
		</td>
		<td>
		{participant.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecevents_domain_model_participant.email" />
		</td>
		<td>
		{participant.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecevents_domain_model_participant.phone" />
		</td>
		<td>
		{participant.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecevents_domain_model_participant.address" />
		</td>
		<td>
		{participant.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecevents_domain_model_participant.birth_date" />
		</td>
		<td>
		{participant.birthDate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecevents_domain_model_participant.number_of_persions" />
		</td>
		<td>
		{participant.numberOfPersions}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecevents_domain_model_participant.message" />
		</td>
		<td>
		{participant.message}
		</td>
	</tr>
</table>